# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

.idea
node_modules
dist
web/.DS_Store
.DS_Store

build/build-tools
