<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<!-- Starts a new coordinate system -->
<svg:g xmlns:svg="http://www.w3.org/2000/svg" width="160" height="80"
       [attr.transform]="'translate(' + leafX + ',' + leafY + '), scale(' + leafScale + ')'">
    <svg:rect stroke="black" stroke-width="2" width="160" height="20" fill-opacity="0.1" rx="10">
    </svg:rect>
    <svg:use [attr.xlink:href]="'#plus'" width="16" height="16" x="-8" y="-8" (click)="requestEdit(leafName)"></svg:use>
    <svg:text x="5" y="17" stroke="green" text-anchor="start">{{leafName}}: {{value}}</svg:text>
</svg:g>
