<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<div id="device-change-detail-panel" class="floatpanel"
     [@deviceChangeDetailState]="id!=='' && !closed">
    <div class="container">
        <div class="top">
            <div class="close-btn">
                <onos-icon class="close-btn" classes="active-close"
                           iconId="close" iconSize="20"
                           (click)="close()"></onos-icon>
            </div>
            <h2 class="editable clickable">{{id}}</h2>
            <hr>
        </div>
        <div class="middle">
            <h2 class="changes-title">Paths and Values</h2>
            <table>
                <thead>
                <tr>
                    <th>Path</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody id="path-list">
                <tr *ngFor="let dcValue of detailsData?.getValuesList()">
                    <td class="pathitem" [ngClass]="dcValue.getRemoved() ? 'removed':''">{{dcValue.getPath()}}</td>
                    <td>{{dcValue.getValue() | changeValue:30}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
