<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<svg:defs xmlns:svg="http://www.w3.org/2000/svg">
    <svg:filter id="drop-shadow" x="-25%" y="-25%" width="200%" height="200%">
        <svg:feGaussianBlur in="SourceAlpha" stdDeviation="4" result="blur" />
        <svg:feOffset in="blur" dx="4" dy="4" result="offsetBlur"/>
        <svg:feMerge >
            <svg:feMergeNode in="offsetBlur" />
            <svg:feMergeNode in="SourceGraphic" />
        </svg:feMerge>
    </svg:filter>
    <linearGradient id="rect-grad" x1="0" x2="1" y1="0" y2="1">
        <stop offset="0%" stop-color="#007dc4"/>
        <stop offset="100%" stop-color="#00bfed"/>
    </linearGradient>
</svg:defs>

<svg:g id="container" [ngClass]="classes.join(' ')" xmlns:svg="http://www.w3.org/2000/svg" width="160" height="80"
       [attr.transform]="'translate(' + containerX + ',' + containerY + '), scale(' + containerScale + ')'"
       (click)="requestEdit(abspath)">
    <svg:rect id="box" width="160"
              [attr.height]="boxHeight"
              [attr.rx]="classes.includes('leaf')?0:5"
              filter="url(#drop-shadow)">
    </svg:rect>
<!--    <svg:use id="editicon" *ngIf="classes.includes('config') || classes.includes('rwpaths')"-->
<!--             [attr.xlink:href]="'#plus'" width="16" height="16" x="-8" y="-8" (click)="requestEdit(abspath)">-->
<!--    </svg:use>-->
    <svg:text id="title" x="5" y="17">{{displayPath}}</svg:text>
    <svg:text id="value" x="160" y="32">{{value | changeValue:15}}</svg:text>
    <svg:g id="cross" *ngIf="removed">
        <svg:line x1="0" y1="0" x2="160" y2="35"></svg:line>
        <svg:line x1="0" y1="35" x2="160" y2="0"></svg:line>
    </svg:g>
</svg:g>
