/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Phase options */
.change {
    color: white;
}

.rollback {
    color: lightgrey;
    opacity: 50%;
}

/* State options */
.pending {
    background-color: maroon;
}

.complete {
    background-image: linear-gradient(#7fabdb, #5b99d2);
    /*background-color: #7fabdb;*/
}

.failed {
    background-color: red;
}

/* Reason options */
.error {
    text-blink: 1;
}

.undefined {
    visibility: hidden;
}

.dev-change-div {
    vertical-align: middle;
}
