<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<div id="model-detail-panel" class="floatpanel"
     [@modelDetailState]="id!=='' && !closed">
    <div class="container">
        <div class="top">
            <div class="close-btn">
                <onos-icon class="close-btn" classes="active-close"
                           iconId="close" iconSize="20"
                           (click)="close()"></onos-icon>
            </div>
            <div class="dev-icon">
                <onos-icon classes="{{ 'details-icon'}}" iconId="'device'"
                           [iconSize]="40"></onos-icon>
            </div>
            <h2 class="editable clickable">{{detailsData?.name}} {{detailsData?.version}}</h2>
            <div class="top-content">
                <div class="top-tables">
                    <div class="left">
                        <table>
                            <tbody>
                            <tr>
                                <td class="label" width="110">Module :</td>
                                <td class="value"
                                    width="80">{{detailsData?.getName()}}</td>
                            </tr>
                            <tr>
                                <td class="label" width="110"># Read Write Paths :</td>
<!--                                <td class="value"-->
<!--                                    width="80">{{detailsData?.numrwpaths}}</td>-->
                            </tr>
                            <tr>
                                <td class="label" width="110"># Read Only Paths :</td>
<!--                                <td class="value"-->
<!--                                    width="80">{{detailsData?.numropaths}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="middle">
            <h2 class="changes-title">Yang Models</h2>
            <table>
                <thead>
                <tr>
                    <th>Model</th>
                    <th>File</th>
                    <th>Revision</th>
                    <th>Organization</th>
                </tr>
                </thead>
                <tbody id="yang-list">
                <tr *ngFor="let md of detailsData?.getModulesList()">
                    <td>{{md.getName()}}</td>
                    <td>{{md.getFile()}}</td>
                    <td>{{md.getRevision()}}</td>
                    <td>{{md.getOrganization()}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
