<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<div id="layers-panel" class="floatpanel" [@layersPanelState]="on">
    <div class="tbar-arrow" (click)="on =! on">
        <onos-icon [iconSize]="10" [iconId]="on?'triangleLeft':'triangleRight'"></onos-icon>
    </div>
    <div class="header">
        <h2>{{configName}}</h2>
        <table id="layer-headings">
            <tbody>
            <tr>
                <td class="field-name">Device:</td>
                <td>{{deviceName}}</td>
            </tr>
            <tr>
                <td class="field-name">Version:</td>
                <td>{{version}}</td>
            </tr>
            <tr>
                <td class="field-name">Type:</td>
                <td>{{type}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div id="changes-list" class="body">
    <span (click)="toggleAll(true)" class="layerItem">
      <onos-icon [iconId]="ACTIVE" [iconSize]="20"
                 [classes]="ACTIVE"></onos-icon>All</span>
        <span (click)="toggleAll(false)" class="layerItem">
    <onos-icon [iconId]="INACTIVE" [iconSize]="20"
               [classes]="INACTIVE"></onos-icon>None</span>
<!--        <table *ngIf="hasPending">-->
<!--            <tbody>-->
<!--            <tr class="layerItem"-->
<!--                (click)="toggleDisplay('pending', 2)">-->
<!--                <onos-icon-->
<!--                    [iconId]="hiddenLayers.get('pending')?ACTIVE:INACTIVE"-->
<!--                    [iconSize]="20"-->
<!--                    [classes]="hiddenLayers.get('pending')?ACTIVE:INACTIVE"></onos-icon>-->
<!--                <td>pending</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
        <table>
            <tbody>
            <tr id="layerItem" class="layerItem" *ngFor="let p of layerMap | keyvalue:devChangeDecreasingIndex"
                (click)="toggleDisplay(p.key, 0)">
                <onos-icon [iconId]="hiddenLayers.includes(p.key)?INACTIVE:ACTIVE"
                           [iconSize]="20"
                           [classes]="hiddenLayers.includes(p.key)?INACTIVE:ACTIVE"></onos-icon>
                <td [title]="getTooltip(p.value)" [ngClass]="p.value.getStatus() | changeStatus">{{p.key}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="footer">
        <table>
            <tbody>
            <tr id="snapshot-layer" class="layerItem"
                (click)="toggleDisplay(SNAPSHOT, 5)">
                <onos-icon
                    [iconId]="hiddenLayers.includes(SNAPSHOT) ? INACTIVE : ACTIVE"
                    [iconSize]="20"
                    [classes]="hiddenLayers.includes(SNAPSHOT) ? INACTIVE:ACTIVE"></onos-icon>
                <td class="snapshot">Snapshot</td>
            </tr>
            <tr id="opstate-layer" class="layerItem" *ngIf="hasOpState"
                (click)="toggleDisplay(OPSTATE, 1)">
                <onos-icon
                    [iconId]="hiddenLayers.includes(OPSTATE) ? INACTIVE : ACTIVE"
                    [iconSize]="20"
                    [classes]="hiddenLayers.includes(OPSTATE) ? INACTIVE:ACTIVE"></onos-icon>
                <td>State</td>
            </tr>
            <tr id="rwpaths-layer" class="layerItem"
                (click)="toggleDisplay(RWPATHS, 3)">
                <onos-icon
                    [iconId]="hiddenLayers.includes(RWPATHS) ? INACTIVE : ACTIVE"
                    [iconSize]="20"
                    [classes]="hiddenLayers.includes(RWPATHS) ? INACTIVE:ACTIVE"></onos-icon>
                <td>ReadWrite paths</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
