/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 ONOS GUI -- Config Layers Panel -- CSS file
 */
#layers-panel {
    padding: 8px;
    width: 250px;
}

#layers-panel td.label {
    width: 50%;
}

#layers-panel td {
    font-size: 0.8em;
}

.layerItem {
    font-size: 0.8em;
    cursor: pointer;
}

#layers-panel .layerItem td {
    font-size: 1.0em;
}

#layers-panel div.header div.icon {
    padding: 5px
}

#layers-panel div.header h2 {
    padding: 5px;
    margin-block-end: auto;
    margin-block-start: auto;
    font-size: 1.0em;
}

#layers-panel .field-name {
    text-align: right;
    font-weight: bold;
}

#changes-list {
    max-height: 50vh;
    overflow-y: auto;
}

div.tbar-arrow {
    position: absolute;
    top: 0%;
    left: 96%;
    margin-right: -4%;
    /*transform: translate(-50%, -50%);*/
    cursor: pointer;
}

td.snapshot {
    font-weight: bold;
}

td.complete {
    color: #5b99d2;
    font-weight: bold;
}

td.pending {
    color: maroon;
    font-weight: bold;
}

td.failed {
    color: red;
    font-weight: bold;
}

/* Rollback is the opposite of "Change" */
td.rollback {
    text-decoration: line-through;
    font-weight: normal;
    font-style: italic;
}
