/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 ONOS GUI -- Dialog Service (layout) -- CSS file
 */

.dialog h2 {
    margin: 0;
    word-wrap: break-word;
    display: inline-block;
    width: 210px;
    vertical-align: middle;
}

.dialog .dialog-button {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    padding: 6px 8px 2px 8px;
    margin: 4px;
    float: right;
}
