/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 ONOS GUI -- Dialog Service (theme) -- CSS file
 */

/* temporarily removed .light */
.dialog .dialog-button {
    background-color: #518ecc;
    color: white;
}


/* ========== DARK Theme ========== */

.dark .dialog .dialog-button {
    background-color: #345e85;
    color: #cccccd;
}
