/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#path-bar {
    padding: 4px;
    width: 800px;
    height: 20px;
}

#path-bar input {
    padding: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    border-style: none;
    width: 100%;
}
