<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<th class="nw-ch-title" scope="row" [ngClass]="getStatusClass()" [title]="getTooltip()">
    {{networkChange.getId()}}
    <br>
    <small style="font-weight: lighter">{{created | date:'medium'}}</small><br>
    <input type="button" *ngIf="canRollback" value="Rollback" (click)="rollbackChange()">
</th>
<td class="dev-change-cell"
    *ngFor="let entity of deviceService.entityList | keyvalue:deviceSortCriterion"
    onos-device-change [deviceChangeId]="entity.value.getId()"
    [deviceVersion]="entity.value.getAttributesMap().get('version')"
    [networkChangeId]="networkChange.getId()"
    [change]="getChangeByName(entity.value.getId(), entity.value.getAttributesMap().get('version'))"
    [state]="networkChange.getStatus()"
    (selected)="itemSelected(networkChange.getId(), entity.value.getId(), entity.value.getAttributesMap().get('version'))">
</td>
