/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.dev-change-cell {
    padding: 6px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.nw-ch-title {
    text-align: right;
    padding-right: 4px;
    font-weight: bold;
    cursor: pointer;
}

.nw-ch-title.rollback {
    text-decoration: line-through;
}

/*.nw-ch-title {*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    z-index: 2;*/
/*    width: 140px;*/
/*}*/
