<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<label><small>Routes</small></label>
<input type="checkbox" [(ngModel)]="showRoutes" (ngModelChange)="updateRoutes($event)">
<label><small> Map</small></label>
<input type="checkbox" [(ngModel)]="showMap" (ngModelChange)="updateMap($event)">
<label><small> Power</small></label>
<input type="checkbox" [(ngModel)]="showPower" (ngModelChange)="updatePower($event)">
<label>  Number of UEs:  </label>
<span *ngFor="let opt of numRoutesOptions">
    <label><small> {{opt}}</small></label>
    <input type="radio" [id]="opt" name="'numues'" [value]="opt" [checked]="opt === numRoutes" [title]="opt" (click)="changeNumUes(opt)">
</span>
<label>   Connected</label>
<input type="checkbox" [(ngModel)]="connected" (ngModelChange)="connectMap($event)">
<label></label>
<input type="button" value="Refresh" [disabled]="connected" (click)="refreshMap()">
<!-- inspired by https://alligator.io/angular/angular-and-leaflet/ -->
<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>
