/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.nw-ss-title {
    text-align: right;
    padding-right: 4px;
    font-weight: bold;
    border: solid black 1px;
    cursor: default;
}

.dev-ss-cell {
    padding: 6px;
    border: solid 1px black;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
