<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<nav id="nav" [@navState]="ns.showNav">
    <div *ngFor="let navSection of navSections">
        <div id="header" class="nav-hdr">{{navSection.title}}</div>
        <div *ngFor="let uiView of navSection.views">
            <a id="{{uiView.id}}" (click)="ns.hideNav()"
               routerLink="{{navSection.service_name}}/{{uiView.id}}">
                <onos-icon iconId="{{ uiView.icon }}"></onos-icon>
                {{ uiView.label }}</a>
        </div>
    </div>

</nav>
