/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 ONOS GUI -- Navigation (theme) -- CSS file
 */

#nav {
    background-color: #231f20;
}

#nav .nav-hdr {
    color: #716b6a;
    background-color: #3c3a3a;
}

#nav a {
    color: #c7c7c0;
    border-bottom: solid #3c3a3a 1px;
}

#nav a:hover {
    color: #ffffff;
}

/* With component styles isolation in Angular 6 these no longer work */
#nav a div svg.embeddedIcon g.icon .glyph {
    fill: #007dc4;
}

#nav a:hover div svg.embeddedIcon g.icon .glyph {
    fill: #20b2ff;
}
