<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<div id="ov-entity">
    <div class="tabular-header">
        <h2>Entities ({{ topoDeviceService.entityList.size }} total)</h2>
        <div class="ctrl-btns">
            <div class="separator"></div>
        </div>
        <div class="search">
            <input id="searchinput" [(ngModel)]="queryStr" type="search" #search placeholder="Search" />
            <!-- <select [(ngModel)]="queryBy">
                <option value="" disabled>Search By</option>
                <option value="id">Id</option>
            </select> -->
        </div>
    </div>

    <div id="summary-list" class="summary-list">
        <table class="table table-sticky">
            <thead>
                <tr>
                    <th colId="id" (click)="onSort('id')">Id
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('id')"></onos-icon>
                    </th>
                    <th colId="displayName" (click)="onSort('displayName')">Display Name
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('displayName')">
                        </onos-icon>
                    </th>
                    <th colId="version" (click)="onSort('version')">Version
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('version')">
                        </onos-icon>
                    </th>
                    <th colId="kind" (click)="onSort('kind')">Kind
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('kind')"></onos-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="topoDeviceService.entityList.size === 0" class="no-data">
                    <td colspan="9">{{ annots.noRowsMsg }}</td>
                </tr>
                <tr *ngFor="let entity of topoDeviceService.entityList | keyvalue"
                    (click)="selectCallback($event, entity.key, entity.value)">
                    <td>{{ entity.value.getId() }}</td>
                    <td>{{ printMapValue(entity.value.getAttributesMap(), 'displayname') }}</td>
                    <td>{{ printMapValue(entity.value.getAttributesMap(), 'version') }}</td>
                    <td>{{ entity.value.getEntity() }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <onos-entity-detail class="floatpanels" id="{{selId}}" [entity]="selectedChange" (selectedEntity)="changeRow($event)" (closeEvent)="deselectRow($event)">
    </onos-entity-detail>

</div>
