/*
 * SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 ONOS GUI -- Device View (theme) -- CSS file
 */

.light #device-details-panel .bottom th {
    background-color: #e5e5e6;
}

.light #device-details-panel .bottom tr:nth-child(odd) {
    background-color: #fbfbfb;
}

.light #device-details-panel .bottom tr:nth-child(even) {
    background-color: #f4f4f4;
}

#ov-models .tabular-header {
    text-align: left;
}

#ov-models div.summary-list .table-header td {
    font-weight: bold;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 10pt;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 0.02em;
    cursor: pointer;
    background-color: #e5e5e6;
    color: #3c3a3a;
}

#ov-models div.summary-list .table-body {
    overflow: scroll;
}

#ov-models h2 {
    display: inline-block;
}

#ov-models, div.ctrl-btns {
}

#ov-models th, td {
    text-align: left;
    padding: 8px;
}
