<!--
SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>

SPDX-License-Identifier: Apache-2.0
-->

<div id="ov-models">
    <onos-loading [theme]="'light'" [running]="loadingIconShown"></onos-loading>
    <onos-flash id="appMsgFlash" message="{{ alertMsg }}" dwell="5000" warning="true" (closed)="alertMsg = ''">
    </onos-flash>
    <onos-name-input [title]="newConfigTitle" [pattern]="'[a-zA-Z0-9\-:_]{40}'" (chosen)="newConfigCreate($event)">
    </onos-name-input>
    <div class="tabular-header">
        <h2>Models ({{ tableData.length }} total)</h2>
        <div class="ctrl-btns">
            <div class="separator"></div>
            <div (click)="newConfig(selectedChange)">
                <!--                <onos-icon classes="{{ selId !== undefined && pending.hasPendingChange && pending.pendingNewConfiguration === undefined ? 'active-rect':undefined}}"-->
                <onos-icon classes="{{ selId !== undefined }}" iconId="plus" iconSize="42" toolTip="Add config">
                </onos-icon>
            </div>
        </div>
        <div class="search">
            <input id="searchinput" [(ngModel)]="tableDataFilter.queryStr" type="search" #search placeholder="Search" />
            <select [(ngModel)]="tableDataFilter.queryBy">
                <option value="" disabled>Search By</option>
                <option value="name">Name</option>
                <option value="version">Version</option>
                <option value="module">Module</option>
            </select>
        </div>
    </div>

    <div id="summary-list" class="summary-list">
        <table class="table table-sticky">
            <thead>
                <tr>
                    <th colId="name" (click)="onSortCol('name')">Name
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('name')"></onos-icon>
                    </th>
                    <th colId="version" (click)="onSortCol('version')">Version
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('version')"></onos-icon>
                    </th>
<!--                    <th colId="module" (click)="onSortCol('module')">Module-->
<!--                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('module')"></onos-icon>-->
<!--                    </th>-->
                    <th colId="numrwpaths" (click)="onSortCol('numrwpaths')"># RW Paths
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('numrwpaths')">
                        </onos-icon>
                    </th>
                    <th colId="numropaths" (click)="onSortCol('numropaths')"># RO Paths
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('numropaths')">
                        </onos-icon>
                    </th>
                    <th colId="numyangs" (click)="onSortCol('numyangs')"># Yangs
                        <onos-icon classes="active-sort" [iconSize]="10" [iconId]="sortIcon('numyangs')">
                        </onos-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-body" *ngIf="tableData.length === 0" class="no-data">
                    <td colspan="9">{{ annots.noRowsMsg }}</td>
                </tr>
                <tr *ngFor="let model of tableData | orderBy: [modelService.sortParams.firstColName,'name'] : false : false : modelService.sortParams.firstCriteria | filter:tableDataFilter"
                    (click)="selectCallback($event, model); selectedChange = model"
                    [ngClass]="{selected: model.id === selId, 'data-change': isChanged(model.id)}">
                    <td>{{ model.name }}</td>
                    <td>{{ model.version }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
<!--                    <td>{{ model.getModule() }}</td>-->
<!--                    <td>{{ model.numrwpaths }}</td>-->
<!--                    <td>{{ model.numropaths }}</td>-->
                    <td>{{ model.numyangs }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <onos-model-detail class="floatpanels" id="{{selId}}"
                       [configModel]="selectedChange"
        (closeEvent)="deselectRow($event)"></onos-model-detail>
</div>
